* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body {
    background-color: #dfdfdf;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 2%;
    right: 0%;
    width: 100%;
    background: #fff;
    padding: 15px 0px;
    z-index: 1;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

.nav-link {
    font-size: 1.25rem;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    animation: nav-hover 1s linear 1;
}

@keyframes nav-hover {
    0% {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    100% {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
}

h1 {
    position: fixed;
    left: 2%;
    font-weight: normal;
    z-index: 2;
}

h1:hover {
    animation: shadow-rgb 5s linear infinite;
}

@keyframes shadow-rgb {
    0% {
        text-shadow: -2px 2px 5px #ff0000;
    }
    10% {
        text-shadow: -2px 2px 5px #ff5400;
    }
    20% {
        text-shadow: -2px 2px 5px #ff8e00;
    }
    30% {
        text-shadow: -2px 2px 5px #ffd200;
    }
    40% {
        text-shadow: -2px 2px 5px #81e650;
    }
    50% {
        text-shadow: -2px 2px 5px #00d267;
    }
    60% {
        text-shadow: -2px 2px 5px #00c0ff;
    }
    70% {
        text-shadow: -2px 2px 5px #8b48fe;
    }
    80% {
        text-shadow: -2px 2px 5px #ca41fc;
    }
    90% {
        text-shadow: -2px 2px 5px #ff46fb;
    }
    100% {
        text-shadow: -2px 2px 5px #ff0000;
    }
}

.bkg-sqr {
    display: flex;
    margin: 100px auto 0px;
    justify-content: space-evenly;
    align-items: center;;
    width: 80%;
    height: 100px;
    background-color: #8b48fe;
    border-radius: 20px;
}

.resume-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.resume-link {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 10px;
}

.resume-link:hover {
    animation: resume-hover 0.5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes resume-hover {
    0% {
        color: #000;
        background-color: #00000000;
    }
    100% {
        color: #bbb;
        background-color: #7a37ed;
    }
}

img {
    height: 80%;
    border: 1px solid #000;
    border-radius: 50%;
}

.placeholder {
    width: 100px;
}

section {
    text-align: center;
    padding-top: calc(2.25rem + 15px);
}

.contact-link {
    text-decoration: none;
    color: black;
    display: inline;
    margin: 0 auto;
}